[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
python-dotenv = "*"
requests = "*"
jsonpath-ng = "*"
deepdiff = "*"

[requires]
python_version = "3.9"
